.main-back{
   height: 100vh;
   background-color: #d9dbd4;
}

.wrapper{
   height: 10vh;
   background-color: #009688;
}

.container{
   margin-top: 3rem;
   height: 650px;
   width: 60%;
   background-color: rgb(157, 21, 21);
}

#list-contact{
   height: 100%;
   width: 30%;
   background-color: blue;
}

#chat-box{
   height: 100%;
   width: 70%;
   background-color: darkorange;
}

.my-user{
   height: 7%;
   width: 100%;
   background-color: darkgreen;
}

.circle-img img{
   margin: .2rem;
   width: 30px;
   border-radius: 2rem;
}

.notify-block{
   height: 8%;
   width: 100%;
   background-color: rgb(6, 150, 217);
}

.notify i{
   margin: .7rem;
   background-color: white;
   padding: .4rem;
   border-radius: 100%;
}

.text p
{
   font-size: .7rem;
}

.text a
{
   font-size: .7rem;
}

.search-box{
   height: 2rem;
   background-color: #fafafa;
}

.search-box input{
   height: 1.5rem;
}

.leght-icon{
   height: 1.5rem;
   width: 2rem;
   border: 1px solid gray;
}

.leght-icon i{
   margin-left: .5rem;
}

.contacts .user-contact{
   height: 3.5rem;
   background-color: #ff7802;
   display: flex;
   align-items: center;
   border-top: 1px solid #b20000
}

.change-color-back{
   background-color: #009688;
}