.main-back{
   height: 100vh;
   background-color: #d9dbd4;
}

.wrapper{
   height: 10vh;
   background-color: #009688;
}

.container{
   margin-top: 3rem;
   height: 650px;
   width: 60%;
   background-color: rgb(157, 21, 21);
}

#list-contact{
   height: 100%;
   width: 30%;
   background-color: blue;
}

#chat-box{
   height: 100%;
   width: 70%;
   background-color: darkorange;
}

.my-user{
   height: 7%;
   width: 100%;
   background-color: darkgreen;
}

.circle-img img{
   margin: .2rem;
   width: 30px;
   border-radius: 2rem;
}

.notify-block{
   height: 8%;
   width: 100%;
   background-color: rgb(6, 150, 217);
}

.notify i{
   margin: .7rem;
   background-color: white;
   padding: .4rem;
   border-radius: 100%;
}

.text p
{
   font-size: .7rem;
}

.text a
{
   font-size: .7rem;
}

.search-box{
   height: 2rem;
   background-color: #fafafa;
}

.search-box input{
   height: 1.5rem;
}

.leght-icon{
   height: 1.5rem;
   width: 2rem;
   border: 1px solid gray;
}

.leght-icon i{
   margin-left: .5rem;
}

.contacts .user-contact{
   height: 3.5rem;
   display: flex;
   align-items: center;
}

.user-contact img{
   height: 3rem;
   border-radius: 100%;
}

.change-color-back{
   background-color: #009688;
}

.disp-block{
   display: inline-block;
}

.my-user-chat{
   height: 7%;
   background-color: #02453e;
}

.contact-chat-avatar {
   height: 7%;
}


.contact-chat-avatar img{
   height: 2.81rem;
   border-radius: 100%;
}

.icon-top-message i{
   margin-top: .5rem;
   width: 2rem;
   font-size: 1.3rem;
}

.box-message{
   height: 58vh;
   width: 100%;
   background-image: url(../img/mine.jpg);
}

.sent {
   width: 30%;
   height: 20%;
   padding: 1rem;
   border-radius: 6px;
   margin-left: 67%;
   margin-bottom: 0.2rem;
   background-color: #d5f9ba;
}

.received {
   width: 30%;
   height: 15%;
   margin-left: 3%;  
   padding: 1rem;
   border-radius: 6px;
   background-color: white;
}

.date-mesage {
   font-size: 0.6rem;
   color:#2c2c2c80;
}

.send-mesage-box{
   height: 3.2rem;
   width: 100%;
   background-color: darkmagenta;
}

